<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTitle_0</key>
	<string>台灣基督長老教會信仰告白</string>
	<key>fileType_0</key>
	<string>GUARD_READING</string>
	<key>fileItem_0</key>
	<string>721</string>
	<key>fileTitle_1</key>
	<string>尼西亞信經</string>
	<key>fileType_1</key>
	<string>GUARD_READING</string>
	<key>fileItem_1</key>
	<string>722</string>
</dict>
</plist>
